
.carousel {
  height: 300px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 300px;
  background-color: white;
}
.carousel-inner > .item > img {
  top: 0;
  height: 300px;
  margin: 0 auto;
}

  /* Bump up size of carousel content */
  .carousel-caption h1 {
    position: relative;
    width: 300px;
    height: 50px;
    font-size: 21px;
    line-height: 1.4;
    border: 5px solid black;
  }
